#logoInfoImage {
    height: 25px;
    cursor: pointer;
}
div.dataset-name {
    cursor: pointer;
}
#infoButton {
	position: relative;
	right: 145px;
}
div.no-titlebar[aria-describedby="infoDialog"] > div.ui-dialog-titlebar {
	display: none;
}
  
.ui-dialog-titlebar-close {
	display:none;
}

#gg-banner {
	padding: 0px;
	margin: 0px;
	background-color: lightblue;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover; /* Height fills the container, width auto */

}
#gg-banner > .info-content {
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

.info-text {
  text-shadow:
    0 0 8px white,
    0 0 15px white,
    0 0 25px white;
}